<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868285745403-gcl6gkr01q3va164c0ghf8ifet460vgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868285745403-gcl6gkr01q3va164c0ghf8ifet460vgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>868285745403-iks54l3k9b4kcvg2sfgft1pk3hip9dm8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuXpkm2az_YFJOuYobtvWee7-1_AW-Msk</string>
	<key>GCM_SENDER_ID</key>
	<string>868285745403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammadali.buddiesgram</string>
	<key>PROJECT_ID</key>
	<string>insta-fake-14d8e</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-fake-14d8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868285745403:ios:b4daa0238af169be83085e</string>
	<key>DATABASE_URL</key>
	<string>https://insta-fake-14d8e.firebaseio.com</string>
</dict>
</plist>